@import "../../components/bootstrap/less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@sidebarWidth: 240px;
#sidebar {
	width: @sidebarWidth;
	margin: -@gridGutterWidth;
	background: @grayLighter;
	height: 100%;
	.nav-list > li > a, .nav-header {
		padding-left: @gridGutterWidth;
	}
}
#main {
	margin-left: @sidebarWidth;
}
.table tbody h5 {
	margin-top: 0;
}
.ellipsis {
	.text-overflow();
	max-width: 600px;
}
.alert-inline {
	&.error {
		background: @errorText;
		color: @white;
	}
	padding: .1em .3em;
}